<!DOCTYPE html>
<meta charset="UTF-8">
<html>
  <head>
    <link rel="stylesheet" href="/static/css/export.css">
    <title>BSA - Export</title>
  </head>
  <h1>Battle Score Aggregator</h1>
  <h3>Export Page</h3>
  <div id="content">
    {% if placement %}
      <table>
        <tr>
          <th>Place</th>
          <th>Team</th>
          <th>Score</th>
        </tr>

          {% for place, teams in placement.items() %}
            {% for team, score in teams.items() %}
            <tr>
              <td>{{ place }}</td>
              <td>{{ team }}</td>
              <td>{{ score['total'] }}</td>
            </tr>
            {% endfor %}
          {% endfor %}
      </table>
    {% else %}
      No teams have been created yet.
    {% endif %}
  </div>

  <div id="teams-content">
    {% if placement %}
      <table id="teamstable">
        <tr>
          <th>Question</th>

          {% for question in questions %}
          <th>{{ question }}</th>
          {% endfor %}
        
          {% for team, scores in team_scores.items() %}
          <tr>
            <td>{{ team }}</td>
            {% for question, score in scores.items() %}
              <td>{{ score }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
      </table>
    {% else %}
      No teams have been created yet.
    {% endif %}
  </div>
  <br>
  <a id="download">Export Totals as HTML</a><br>
  <a id="download-teams">Export Individual Teams as CSV</a>
  <br><br><br>

  {% for judge in judges %}
    <table id="{{ judge.username }}_table">
      <th>Question</th>
      {% for team in judge.teams %}
      <th>{{ team.name }}</th>
      {% endfor %}

      {% for round, questions in judge.scoretable.items() %}
        {% for number, answers in questions.items() %}
        <tr>
          <td>Q{{ number }}</td>
          {% for team, score in answers.items() %}
          <td>{{ score }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      {% endfor %}
    </table>
    <a class="judgeLink" id="{{ judge.username }}">Export Score Table of {{ judge.username }}</a><br><br>
  {% endfor %}
  <script src="/static/js/export.js"></script>
</html>
