<!DOCTYPE html>
<meta charset="UTF-8">
<html>
  <head>
    <link rel="stylesheet" href="/static/css/login.css">
    <title>BSA - Login</title>
  </head>
  <body>
    <h1>Battle Score Aggregator</h1>
    <h3>Judge Login</h3>
    {% if response %}<p>{{ response }}</p>{% endif %}
    <form action="/login" method="post">
      <input type="text" placeholder="Username" name="username" required>
      <br>
      <input type="password" placeholder="Password" name="password" required>
      <br>
      <button type="submit">Login</button>
    </form>
  </body>
</html>
