<!DOCTYPE html>
<meta charset="UTF-8">
<html>
  <head>
    <link rel="stylesheet" href="/static/css/total.css">
    <title>BSA - Totals</title>
  </head>

  <div class="row">
    <div class="column">
      <h1>Totals</h1>
      {% if placement %}
        <table id="scoretable">
          <tr>
            <th>Place</th>
            <th>Team</th>
            <th>Judge</th>
            <th>Score</th>
          </tr>

            {% for place, teams in placement.items() %}
              {% for team, data in teams.items() %}
              <tr>
                <td id="{{ team }}_place">{{ place }}</td>
                <td id="{{ team }}_name">{{ team }}</td>
                <td id="{{ team }}_judge">{{ data['judge'] | capitalize }}
                <td id="{{ team }}_total">{{ data['total'] }}</td>
              </tr>
              {% endfor %}
            {% endfor %}
        </table>
      {% else %}
        No teams have been created yet.
      {% endif %}
    </div>
    <div class="column">
      <h1>Scoring Status</h1>
      <table id="judgetable">
        <tr>
          <th>Judge</th>
          <th>Currently Scoring</th>
          <th>Status</th>
        </tr>
        {% for judge in judges %}
        <tr id="{{ judge.username }}">
          <td>{{ judge.username|capitalize }}</td>
          <td id="{{ judge.username }}_last_scored">Q{{ judge.lastQuestionScored }}</td>
          <td id="{{ judge.username }}_status">
            {% if judge.loggedIn %}
              {% if judge.helpFlag %}⚠️{% else %}✔️{% endif %}
            {% else %}
              ❌
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
      <button id="clearHelp" onclick="daijoubu()">Clear All Help</button>
    </div>
  </div>
  <script src="/static/js/total.js"></script>
</html>
