<!DOCTYPE html>
<meta charset="UTF-8">
<html>
  <head>
    <link rel="stylesheet" href="/static/css/index.css">
    <title>BSA - Main</title>
  </head>

  <body>
    <h1>Battle Score Aggregator</h1>
    <h3>Main Menu</h3>
    <div class="btn-group">
      <button onclick="window.location.href = '/judge';">Judging</button>
      <button onclick="window.location.href = '/total';">Totals</button>
      <button onclick="window.location.href = '/admin';">Admin</button>
      <button onclick="window.location.href = '/export';">Data Export</button>
    </div>
  </body>
</html>
