<!DOCTYPE html>
<meta charset="UTF-8">
<html>
  <head>
    <link rel="stylesheet" href="/static/css/toastr.min.css"></link>
    <link rel="stylesheet" href="/static/css/judge.css">
  </head>

  <body>
    <h1>Battle Score Aggregator</h1>
    <h3>Welcome, Right Honorable {{ judge.username }}.</h3>

    <table id="scoretable">
      <th>Question</th>
      {% for team in judge.teams %}
      <th id="team_{{ loop.index }}">{{ team.name }}</th>
      {% endfor %}

      {% for number, question in judge.scoretable %}
        <tr>
          <td>Q{{ number + 1 }}</td>
          {% for team, score in question.items() %}
          <td><input oninput="validateScore()" type="number" id="{{ team }}_{{ number + 1 }}" min="0" max="5" value="{{ score }}"></td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </body>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/toastr.min.js"></script>
  <script src="/static/js/judge.js"></script>
</html>
