table {
  border-collapse: collapse;
  font-family: Arial, Helvetica;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #626262;
}

tr:nth-child(odd) {
  background-color: #424242;
}

tr:hover {
  background-color: #ccc;
}

input {

  color: #424242;
  font-size: 20px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4CAF50;
  color: white;
  position: sticky;
  top: 0;
}

h1, h3 {
  font-family: Arial, Helvetica;
  text-align: right;
}

body {
  font-family: Arial, Helvetica;
  background-color: #424242;
  color: white;
}

#helpButton {
  font-family: Arial, Helvetica;
  float: right;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 200px;
  height: 75px;
  margin-right: 40px;
  animation-name: helpcolors;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-duration: alternate;
  animation-timing-function: linear;
  animation-play-state: paused;
}

@keyframes helpcolors {
	0% {
		background: #ee6055;
	}
	25% {
		background: red;
	}
	50% {
		background: #ee6055;
	}
	75% {
		background: red;
	}
	100% {
		background: #ee6055;
	}
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}
